.custom-event {
  /* background-color: #3174ad;
  border-radius: 5px;
  opacity: 0.8;
  color: white;
  border: 0px;
  display: block;
  height: 100%; */
  /* background-color: #f44336 !important; */

  .event-suzuki {
    background-color: #3f51b5 !important; /* é’ */
  }
}
